@font-face {
    font-family: "Anonymous Pro";
    src: url(fonts/AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(fonts/AnonymousPro-Regular.ttf);
}

*{
  margin:0;
  padding: 0;
}

.main{
  padding: 25px 0px;
  background: #F1F1F1;
  min-height: 100vh;
}
.wrapper{
  max-width: 1161px;
  margin: 0px auto;
  max-height: 1340px;
}

.header{
  background-color: #FFFFFF;
  width: auto;
  height: 110px;
  border-bottom: 1px solid #A1A6B4
}

.header3{
  justify-content: space-between;
  display: flex;
}

.logo1{
  width: 212.34px;
  height: 63.24px; 
  padding-top: 30px;
  padding-bottom: 16px;
}

.subtitle {
  color: #121723;
    font-family: "Anonymous Pro", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 24px;
 }

.catalog{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 24px;
  flex-wrap: wrap;
}

.container {
  background-color: white;
  width: 371px;
	border-radius: 12px;
  overflow: hidden;
}

h2 {
  font-family: "Anonymous Pro", sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 32px;
  padding: 0px 24px;
}

p{
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  font-weight: 440;
  padding: 0px 24px;
  padding-bottom: 32px;
}

.footer{
  background: #121723;
  overflow: hidden;
  position: relative;
  bottom: 0;
}

.footer1{
justify-content: space-between;
display: flex;
}

.logo2{
  width: 299.653px;
  height: 22.32px; 
  padding-top: 32px;
  margin-bottom: 32px;
}

h3{
  font-family: "Anonymous Pro", sans-serif;
  color: #A1A6B4;
  justify-content: center;
  font-weight: 700;
  display: flex;
  margin-top: 18px;
  padding-bottom: 21px;
}

.line{
  height: 1px;
  max-width: 1160px;
  background-color: rgba(230, 232, 236, 0.40);
  align-self: center;
  padding-left: 100px;
}

li{
  position: relative;
  font-size: 20px;
  display: inline-block;
}

.links2{
  font-family: "Anonymous Pro", sans-serif;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
}
.links3{
  font-family: "Anonymous Pro", sans-serif;
  color: #000000;
  text-decoration: none;
  font-weight: 700;
  align-self: center;
  display: flex;
  gap: 24px;
  font-size: 20px;
}

.container__image{
	width: 370px;
}